@model IEnumerable<Course>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseID</td>
                <td>@course.Title</td>
                <td>@course.Credits</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@course.CourseID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@course.CourseID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.pageNum; i++)
    {
        <li class="page-item" page="@i"
        @(ViewBag.keyword != null ? "keyword=" + ViewBag.keyword : "")>
            <a class="page-link">@i</a>
        </li>
    }
</ul>
